@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  background-color: #000;
  font-family: 'Raleway', sans-serif !important;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.triangle-single {
  --triangle-size: 700px;
  --triangle-speed: 2000ms;
  --triangle-speed-basis: calc(2000ms / 1);
  background: #000; /* Set the background color of the triangle */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Use relative positioning for the .triangle-single container */
  width: var(--triangle-size);
  height: var(--triangle-size);
}

.triangle-single .triangle-polygon {
  stroke: greenyellow; /* Set the color of the triangle */
  stroke-width: 1px; /* Adjust the stroke width as needed */
}

.triangle-single .triangle {
  animation: grow-and-fade var(--triangle-speed) linear infinite; /* Add the animation */
}

.triangle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
}

/* Keyframes */
@keyframes grow-and-fade {
  0% {
    opacity: 0;
    transform: scale(0.1) translatez(0);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) translatez(0);
  }
}
/* Styling for the form container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Additional styling for the login form */
.form {
  padding: 20px 0;
  max-width: 250px; /* Limit the form width */
  margin: 100px auto 0 auto;
  text-align: center;
}

.form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}

.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.form input:focus {
  background-color: white;
  width: 100%;
  color: var(--prim);
}

.form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: var(--prim);
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.form button:hover {
  background-color: rgb(245, 247, 249);
}
