/* #search-bar styles */
#search-bar {
  float: left;
 
}

/* .viewbox styles */
.viewbox {
  float: right;
}

/* .clearfix styles */
.clearfix {
  clear: both;
}

/* .view styles */
.view {
  display: inline-block;
}

/* #data-panel styles */
#data-panel {
  margin-top: 20px;
}

/* h5 styles */
h5 {
  padding-top: 15px;
}

/* .fa-th, .fa-bars styles */
.fa-th,
.fa-bars {
  padding: 10px;
  border-radius: 5px;
}

/* .hover-color-change styles */
.hover-color-change {
  color: white;
  background-color: black;
}

/* .size:hover styles */
.size:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-footer {
  display: flex;
  align-items: center;
}

.card-footer form {
  margin-right: 10px; /* Add some spacing between the buttons if desired */
}


/* Updated styles for the navigation bar */
.navbar {
  background-color: black;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white;
}



.navbar .navbar-nav .nav-link:hover ,
.la
{
  color: white !important;
  border-bottom: 3px solid yellow;
}


/* Add custom styles for the .btn-show-movie class */
.btn-show-movie {
  background-color: #FFD700; /* Yellow background color */
  color: #FFFFFF; /* White text color */
  border: none; /* Remove the default button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  text-decoration: none; /* Remove underline for the link */
}

/* Add styles for the button when hovered */
.btn-show-movie:hover {
  background-color: #FFFF00; /* Light yellow background color */
  color: #000000; /* Black text color */
}
form {
  
  margin-left: auto;
}
form .form-control {
  margin-right: 0px;
}

/* Specific styles for the search form */
.search-form {
  margin-top:3%;
  width: 350px;
  height: 40px;
  margin-right: 0px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: transparent;
  transition: all 0.3s ease;
}

/* Specific styles when the search form is in focus */
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

/* Styles for the search input */
.search-input {
  box-shadow: 0 4px 8px rgba(252, 253, 154, 0.062); /* Add the shadow effect */
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

/* Style for the search button */
.search-button {
  box-shadow: 0 4px 8px rgba(252, 253, 154, 0.062); /* Add the shadow effect */
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}


/* Style for the checked checkbox and label inside search option */
.search-option input:checked + label svg {
  fill: #e24040;
  opacity: .9;
}

.search-option input:checked + label span {
  background: #e24040;
}
/* Heart icon styles */
.btn-add-favorite {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  font-size: 24px;
  color: #c8c8c8 !important;
  transition: color 0.2s;
}

/* Change the heart color when the button is pressed */
.btn-add-favorite.liked {
  color: #ff5454 !important;
}

/* Remove blue outline when the button is focused */
.btn-add-favorite:focus {
  outline: none !important;
  border:white !important;
}

/* Change the heart color to red when hovered */
.btn-add-favorite:hover {
  color: #ff5454 !important;
}

/* Additional styles for the btn-show-movie class */
.btn-show-movie {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-show-movie:hover {
  background-color: #FDD835; /* Yellowish background color */
  box-shadow: 0px 15px 20px rgba(253, 216, 53, 0.4); /* Yellowish shadow color */
  color: #fff; /* Text color */
  transform: translateY(-7px); /* Hover effect */
}
